html {    
    background: url('1094164.png') no-repeat center fixed;     
    background-size: cover;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: transparent !important;
}

.stats-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255,255,255, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.title {
    text-align: center;
}

.stat {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: space-between;
    margin-bottom: 10px;
}

.stat-name {
    font-weight: bold;
}

.stat-value {
    color: #007bff; /* Blue color */
}

/* Style the buttons */
button {
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.stat-head {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.stat-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lvl-txt {
    padding: 10px;
    color: #007bff;
    font-weight: bolder;
    font-size: large;
}